## namespace for the lsr package
## last modified by Daniel Navarro, September 4, 2013

## export 
export(cohensD,
etaSquared,
cramersV,
standardCoefs,
posthocPairwiseT,
unlibrary,
rmAll,
quantileCut,
sortFrame,
tFrame,
ciMean,
aad,
modeOf,
maxFreq,
who,
importList,
wideToLong,
longToWide,
permuteLevels,
colCopy,
rowCopy,
expandFactors,
correlate,
bars
)

## register S3 methods
S3method(print,whoList)
S3method(print,correlate)