## namespace for the lsr package
## last modified by Daniel Navarro, November 16, 2013

## export 
export(cohensD,
etaSquared,
cramersV,
standardCoefs,
posthocPairwiseT,
unlibrary,
rmAll,
quantileCut,
sortFrame,
tFrame,
ciMean,
aad,
modeOf,
maxFreq,
who,
importList,
wideToLong,
longToWide,
permuteLevels,
colCopy,
rowCopy,
expandFactors,
correlate,
bars,
oneSampleTTest,
pairedSamplesTTest,
independentSamplesTTest
)

## register S3 methods
S3method(print,whoList)
S3method(print,correlate)
S3method(print,TTest)